@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    /* margin: 8px;
    margin-left: 72px;
    margin-right: 72px; */
    /* background-color: #f8fafc; */
    background-color: #222629;
    font-family: 'Montserrat', sans-serif;
    color: #f8fafc;
}

    .container {
        display: flex;
    }