@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    /* margin: 8px;
    margin-left: 72px;
    margin-right: 72px; */
    /* background-color: #f8fafc; */
    background-color: #222629;
    font-family: 'Montserrat', sans-serif;
    color: #f8fafc;
}

input {
    border-radius: 5px;
    border: 1px solid;
    border-color: #d3d3d3;
    height: 1.75em;
    background: #474b4f;
    color: inherit;
}

input:focus {
    outline: none;
    border: 1px solid #4056A1;
}

select {
    border-radius: 5px;
    border: 1px solid;
    border-color: #d3d3d3;
    height: 1.75em;
    background: #474b4f;
    color: inherit;
}

    /* Stylize task form and input elements*/
    .task-form-background {
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #474b4f;
        padding: 1.5em;
        border-radius: .5em;
        width: 15em;
    }

        .task-form {
            display: flex;
            flex-direction: column;
            row-gap: 0.5em;
            list-style: none;
            margin: 0em;
            padding: 0em;
        }

            .task-form-list {
                display: flex;
                flex-direction: column;
                row-gap: 0.25em;
            }

            .task-form-buttons {
                display: flex;
                justify-content: space-between;
                padding-top: 1em;
                /* padding-bottom: 0.5em; */
            }

                #task-add {
                    background: #4056A1;
                    border: none;
                    color: inherit;
                    font-size: .75em;
                    font-weight: bold;
                    padding: 0.5em;
                    height: 2.5em;
                }

                #close-task-form {
                    background: #4056A1;
                    border: none;
                    border-radius: 5px;
                    color: inherit;
                    font-size: .75em;
                    font-weight: bold;
                    padding: 0.5em; 
                }

                button {
                    background: #4056A1;
                    border: none;
                    border-radius: 5px;
                    color: inherit;
                    font-size: .75em;
                    font-weight: bold;
                    padding: 0.5em; 
                }

    .container {
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(5, 1fr);
        height: 100vh;
        margin: 2em;
        gap: 2em;
    }

        .task-info {
            /* position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);  */
            background: #474b4f;
            grid-column: 5 / 6;
            grid-row: 1 / 13;
            display: flex;
            flex-direction: row-reverse;
            border-radius: 0.75em;
            padding: 1em;
        }
        
        /* Each task-info object should be one unified class (use multiple classes?) */
        #task-card {
            display: flex;
            flex-direction: column;
            row-gap: 0.75em;
        }

        .main-UI {
            grid-column: 2 / 5;
            grid-row: 1 / 13;
        }

            .category-name {
                font-size: 2em;
                font-weight: bold;
            }
        
            .category-list {
                padding: 0%;
                display: flex;
                flex-direction: column;
                gap: 0.5em;
            }

                .task-object {
                    display: flex;
                    justify-content: space-between;
                    background: #474b4f;
                    padding: 0.75em;
                    border-radius: 0.5em;
                }

                    /* #accept {

                    } */

                    #task-name {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                    }

                    #task-name:visited {
                        color: inherit;
                    }

                    #task-name:hover {
                        color: #4056A1;
                    }      
                    
                    .task-delete {
                        display: flex;
                    }

        .sidebar {
            background: #474b4f;
            grid-column: 1 / 2;
            grid-row: 1 / 13;
            border-radius: 0.75em;
        }

            .pinned-categories {
                padding: 1em;
            }

            .custom-categories {
                display: flex;
                flex-direction: column;
                margin: 0%;
                padding: 1em;
                gap: 0.25em;
            }

                #category-link {
                    text-decoration: none;
                    color: inherit;
                    padding: .5em;
                }

                #category-link:hover {
                    background: #4056A1;
                    border-radius: 0.5em;
                }

            .create-category-container {
                padding: 1em;
            }

                .category-form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5em;
                }    

                    .create-cat-btn-container {
                        display: flex;
                        justify-content: space-between;
                    }
            
                    #category-submit {
                        background: #4056A1;
                        border: none;
                        border-radius: 5px;
                        color: inherit;
                        font-size: .75em;
                        font-weight: bold;
                        padding: 0.5em;
                        height: 2.15em; 
                    }