@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    /* margin: 8px;
    margin-left: 72px;
    margin-right: 72px; */
    /* background-color: #f8fafc; */
    background-color: #222629;
    font-family: 'Montserrat', sans-serif;
    color: #f8fafc;
}

    .task-form-background {
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .container {
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 1fr 4fr;
    }

        .task-display {
            grid-column: 2;
            grid-row: 1 / 13;
        }

        .sidebar {
            grid-column: 1;
            grid-row: 1 / 13;
        }

            .custom-categories {
                display: flex;
                flex-direction: column;
            }

                .task-object {
                    display: flex;
                    justify-content: space-between;
                }